.vertical-center {
	display: flex;
	align-items: center;
	min-height: 100vh;
	min-width: 100vh;
	text-align: center;
}

.game-space {
	height: 50vh;
	width: 50vw;
	background: #459834;
	border-radius: 100%;
	margin: auto;
}